$primaryColor: #0492d2; //主色
$secondaryColor: #0aa096; //輔色
$lightColor: #ffd200; //點綴
$linkColor: #22699a; //連結
$importantColor: #0171a4; //重要
// 但注意真實顏色與語意的關聯必須易於辨識
$color-blue: #21baff;
$color-green: #5cb85c;
$color-orange: #f77810;
$color-red: #ff3e4d;
$color-yellow: #fcc211;
$color-purple: #aa5ac5;
$color-gray: #c9c9c9;
$color-lightGray: #dcdcdc;
$color-dark: #333333;
$color-hr: #666; //hr顏色
$color-word: #1a1a1a; //一般字的顏色
$color-word-light: #666;
$color-bg: #e6e6e6;
$color-bg-2: #7c9fb0;
$color-line: #dad0d0;
$color-calendar: #fb8273;
// 連結顏色
$aColor: $primaryColor;
$aHover: darken($primaryColor, 10);

// 表單focus顏色
$form-focus: darken($primaryColor, 10); //表單
$form-btn: $primaryColor; //表單
//-------------------------------------------------------------字型--------//

$border-radius:10px;
// 字型設定
$font-family: Lato, 'PingFang TC', 'Helvetica Neue', Helvetica, 微軟正黑體,
  Arial, sans-serif;

$font-size: 1em;

//-------------------------------------------------------------格線系統-----//

// 格線系統
$grid-columns: 12 !default; //格線欄位數
$grid-gutter-width: 30px !default; //左右padding
$container-max: 1200px !default; //container最大寬

//mediaquery
$screen-lg: 1400px !default; //電腦
$screen-md: 992px !default; //平板
$screen-sm: 768px !default; //手機
$screen-xs: 576px !default; //極小尺寸

//-------------------------------------------------------------客製化------//
$fatfooter-length: 6; //fatfooter選單一行個數
$fatfooterBgColor: $secondaryColor; //fatFooter 底色
$fatfooterNavColor: #fff;
$fatfooterSubNavColor: #ecf1f4;


//-------------------------------------------------------------客製化------//

$rounded-angle: 2px; //整站導角
