.fatfooter {
    @include make-fatfooter($fatfooter-length, 100%);
    @extend %clearfix;
    overflow: hidden;
    padding-bottom: 1em;
    margin: 0 auto;
    padding: 4em 0 2em 0;
    position: relative;
    background: #fff;
    
    @include screen('mobile') {
        display: none;
    }

    &:before{
        content:"";
        display: block;
        position: absolute;
        top: 50px;
        right: calc((100% - 1200px) / 2 - 80px );
        background: url(../images/bg_deco4.png) no-repeat;
        background-size: contain;
        width: 240px;
        height: 350px;
    }
    .container {
        overflow: hidden;
        @include box-sizing;
        @include gutter;
        background-color: $fatfooterBgColor;
        @include gradient($secondaryColor, $primaryColor, vertical);
    }
    // 按鈕
    .btn-fatfooter {
        float: right;
        font-size: .813em;
        display: block;
        min-width: 4em;
        color: #FFF;
        border: none;
        background: none;
        position: relative;
        margin:0 auto;
        top:10px;
        z-index: 90;
        text-indent: -9999px;
        height: 30px;
        opacity: .5;
        background: darken($secondaryColor, 10);
        &:before {
            content: "";
            position: absolute;
            width: 30px;
            height: 20px;
            left: calc(50% - 15px);
            top: 4px;
            background:url(../images/icon/icon_arrow_up_invert.svg) no-repeat center;
            background-size: contain;
            transition: .3s ease-out;
        }
        &:hover,
        &:focus {
            opacity: .8;
            border: none;
            box-shadow: none;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: $rounded-angle
        }
        &.close {
            &:before {
                transform: rotate(180deg) !important;
                top: 5px;
            }
        }
    }
    nav {
        overflow: hidden;
        display: block;
        position: relative;
        padding: 3em 0 0 2em;
        @include box-sizing;
        @include screen('mobile') {
            padding: 1em 0;
        }

        ul {
            @include li-reset;
            @include screen('mobile') {
                width: 100%;
                display: block;
                margin: 0px auto;
            }
            li {
                display: inline-block;
                text-align: left;
                vertical-align: top;
                margin: 0 -5px 1em 0;
                @include box-sizing;
                @include screen('mobile') {
                    display: block;
                    margin:0 0 .4em
                }

                a {
                    line-height: 1.5;
                    display: block;
                    font-weight: bold;
                    padding: .5em 0px;
                    color: $fatfooterNavColor;
                    @include box-sizing;
                    &:hover{
                        box-shadow: none;
                        color: #fff;
                    }
                }
                ul {
                    margin-top: 15px;
                    @include screen('mobile') {
                        width: auto;
                    }
                    li {
                        display: block;
                        margin: 0;
                        border: none;
                        background: none;
                        width: 100%;
                        @include screen('mobile') {
                            display:inline-block;
                            width:auto;
                        }
                        a {
                            display: block;
                            color: $fatfooterSubNavColor;
                            font-weight: normal;
                            text-align: left;
                            font-size: .938em;
                            line-height: 1.5em;
                            padding: .5em .2em;
                            background: none;
                            @include screen('mobile') {
                                padding:.3em .2em;
                            }
                            &:hover{
                                color:#fff;
                            }
                        }
                    }
                    //第三層關閉
                    ul {
                        display: none;
                    }
                }
            }
        }

        >ul{
            >li{
                >a{
                    border-bottom: 1px solid #fff;
                    display: inline-block;
                }
            }
        }
    }
}