* {
    box-sizing: border-box;
}

body {
    background: url(../images/main_img.jpg) top -50px center no-repeat;
    @include screen('mobile'){
        background: none;
    }
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    position:relative;


    @include screen('mobile') {
        background: #FFF url(../images/main_img.jpg) top  center no-repeat;
        background-size: 150%;
        overflow: hidden;
        overflow-y: auto;
    }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    @include gutter();
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}

.main {
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('mobile') {
        padding-top: 60px;
        background-image: none;
    }
    h2 {
        &.title {
            margin: 1em 0;
            padding-left: 15px;
            font-size: 2.125em;
            letter-spacing: 2px;
            color: $primaryColor;
            position: relative;
            z-index: 2;
            line-height: 1.45em;
            @include screen('mobile'){
                margin: .5em 0;
            }
        }
    }

}

.function_block {
    padding: 12em 0 10em 0;
    position: relative;
    &:before{
        content:"";
        display: block;
        position: absolute;
        bottom: -350px;
        right: -50px;
        background: url(../images/bg_deco1.png) no-repeat;
        background-size: contain;
        width: 130px;
        height: 130px;
    }

    @include screen('tablet'){
        padding: 5em 0;
    }
    @include screen('mobile'){
        padding: 2em 0;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .info_block{
        flex-basis: 25%;
        padding: 22px 30px;
        background: rgba($secondaryColor, 0.95);
        @include screen('mobile'){
            flex-basis: 100%;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            @include li-reset;
            color: #fff;
            font-size: .938em;
            li{
                margin:0 0 .5em 0;
                @include screen('mobile'){

                }
                @include screen('xs_mobile'){
                    flex-basis: 100%;
                }
            }
        }
    }

    .info_title {
        font-size: 1.25em;
        color: $lightColor;
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 15px;
        font-weight: bold;
        border-bottom: 2px solid #fff;

        &:before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 18px;
            margin: 0 15px -2px 0;
            background: url(../images/icon/icon_book.svg) center no-repeat;
            background-size: 100%;
        }
    }


    .cards {
        padding: 5px 0;

        @include screen('mobile') {
            width: 100%;
        }

        .info_title {
            &:before {
                @extend %front-icon;
                background: url(../images/icon_cards.svg) center no-repeat;
                background-size: contain;
            }
        }
    }

    .rooms {
        padding: 5px 0;

        @include screen('mobile') {
            width: 100%;
        }

        .info_title {
            &:before {
                @extend %front-icon;
                background: url(../images/icon_room.svg) center no-repeat;
                background-size: contain;
            }
        }
    }

    .time,
    .num {
        color: $primaryColor;
        font-weight: bold;
        vertical-align: text-bottom;
        font-family: 'Century Gothic', $font-family;
    }

    .time {
        font-size: 1.5em;
    }

    .num {
        font-size: 2.25em;

        @include screen('mobile') {
            font-size: 1.5em;
        }
    }
}

//search
.search {
    position: relative;
    z-index: 10;
    flex-basis: calc(75% - 10px);
    vertical-align: middle;
    margin: 0 10px 0 0;
    padding: 0;
    overflow: hidden;
    @include box-sizing;

    @include screen('mobile') {
       flex-basis: 100%;
       margin: 0;
    }

    label {
        font-size: 0em;
        height: 0;
        padding: 0;
        margin: 0;
    }

    select {
        height: 40px;
        //min-width: 150px;
        border: 0;
        border: 1px solid #e2e2e2;
        border-right: 0;
        border-radius: .125em;
        flex: 1 0 auto;
        margin-bottom: 0;
    }

    .form_grp {
        margin-bottom: 0;
        //float: left;
        margin-right: 0 !important;
        width: 100%;
        //height:2em;
        position: relative;
        flex: 1 1 auto;

        input {
            margin: 0;
            box-shadow: none;

            &[type="text"] {
                flex: 1 1 auto;
                margin: 0 8px 0 0;
                height: 50px;
                padding: .2em .5em;
                border-radius: $rounded-angle;
                background: #fff;
                border: none;

                &:focus {
                    box-shadow: 0px 0px 0px 3px $aHover;
                    outline: none;
                    border: none;
                }
            }

            &[type="submit"] {
                //font-size: 0em;
                height: 50px;
                background: $importantColor;
                border: none;
                min-width: 220px;
                @include screen('mobile') {
                    min-width: auto;
                }
                &:hover,
                &:focus {
                    background: $lightColor;
                    color: $color-word;
                }
            }
        }
    }

    .btn_grp {
        padding: .1em;
        margin-bottom: 0;
        float: right;

        @include screen('xs_mobile') {
            float: none;
            width: 100%;
        }

        input,
        input[type="submit"] {
            margin: 0;
            //padding: .4em 1em .4em !important;
            //font-size: .813em;
            height: 40px;
            background: $primaryColor;
            border: none;
            border-radius: 20px;

            @include screen('xs_mobile') {
                background: none;
                color: $primaryColor;
                text-decoration: underline;
                border-radius: 0;
            }

            &:hover,
            &:focus {
                @include screen('xs_mobile') {
                    box-shadow: none;
                    color: $aHover;
                }
            }
        }
    }

    // m_search
    &.m_search {
        width: 100% !important;
        max-width: 100% !important;
        min-width: auto;
        padding: .8em .3em;
        display: block;
        height: auto;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 98;
        background: #333;
        display: none;

        label {
            font-size: 0em;
            line-height: 0;
        }

        .form_grp {
            width: 60%;
            //padding: 0 0 0 5% !important;
            margin-top: 0;
            text-align: right;
            //float: left;
            height: 50px;
            position: relative;
            @include box-sizing();

            label {
                display: none;
            }

            input {
                width: 100%;
                margin: 0;
                padding: .5em 45px .4em .5em;

                &[type="submit"] {
                    font-size: 0em;
                    width: 36px !important;
                    height: 36px;
                    padding: 0;
                    // max-width:none;
                    // min-width:none;
                    background: url(../images/basic/icon_search.png) no-repeat center center;
                    background-size: 24px;
                    border: none;
                    display: inline-block;
                    // margin-left: -50px !important;
                    position: absolute;
                    right: 5px;
                    top: 0px;
                    opacity: .8;

                    // outline:1px solid red;
                    &:hover,
                    &:focus {
                        opacity: 1;
                    }
                }
            }
        }

        .btn_grp {
            padding: .1em 5% .1em 0;
            margin-bottom: 0;
            width: 120px;
            text-align: left;
            @include box-sizing();

            input {
                width: 100% !important;
                padding: .6em .5em !important;
                margin: 0 !important;
                height: 42px;
            }
        }

    }

}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    position: relative;
    @include screen('mobile') {
        padding-top: 60px;
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: -30px;
        background: url(../images/bg_deco2.png) no-repeat;
        background-size: contain;
        width: 200px;
        height: 230px;
        @include screen("tablet"){
            content: none;
        }
    }
    h2.title{
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 3px;
            height: 50%;
            left: 0;
            
        }
        &:before {
            background: $primaryColor;
            bottom: 0;
        }

        &:after {
            background: $secondaryColor;
            top: 0;                
        }
    }
    h3.title{
        display:inline-block;
        position: relative;
    }

    >.container {
        @include gutter(); //gutter 代表左右要留白
    }

    .main_image {
        // padding-left:calc( ( 100% - 1100px ) / 2 );
        // background:$lightColor;
        >.container{
            background: url(../images/main_banner01.jpg) top center no-repeat;
            background-size: cover;
            height: 220px;
            position:relative;
            border: 8px solid #fff;
            border-radius: 10px 10px 0 0;
            // @include screen('tablet') {
            //     height: 240px;
            // }

            // @include screen('mobile') {
            //     height: 200px;
            // }

            // @include screen('xs_mobile') {
            //     height: 140px;
            // }
            .function_nav{
                background: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0 auto;
                width: 100%;
            }
        }
        
        // .img-container {
        //     height: 220px;
        //     position:relative;
        //     @include screen('tablet') {
        //         height: 200px;
        //     }

        //     @include screen('mobile') {
        //         height: 160px;
        //     }

        //     @include screen('xs_mobile') {
        //         height: 120px;
        //     }
        // }
        .search{
            top:40px;
            @include screen('mobile'){
                top:20px;
            }
        }
    }

    .library_info{
        background: url(../images/flower_g_01.png) right 8% bottom  no-repeat;
        &:after{
            display:none;
        }
        .info_content{
            &:before{
                display:none;
            }
            .library_name{
                padding:0;
                font-size: 1.125em;
                font-weight: bold;
                margin: .5em 0;
            }
            ul{
                li{
                    &:before{
                        content: "";
                        position:absolute;
                        width:12px;
                        height:1px;
                        background-color: $secondaryColor;
                        left:0;
                        top:1.25em;
                    }
                }
            }
        }
    }
    .recent_activities{
        padding-left:15px;
        &:before{
            display:none;
        }
        .activities_content{
            background-color: rgba(255,255,255,0);
        }
    }
    .function_block{
        padding: 5em 0;
        @include screen("mobile"){
            padding: 2em 0;
        }
        &:after{
            content:"";
            display: block;
            position: absolute;
            z-index: -1;
            left: 0;
            top: calc(100% - 5em);
            width: 100%;
            height: 600px;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255, .5) 10%, rgba(255,255,255, 1) 30%, rgba(255,255,255,1) 100%);
        }
    }
}

//fancybox樣式更改
.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
}
.fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
}

// @keyframes more_gogo {
//     0% {
//         transform: translateX(0) rotate(45deg);
//     }

//     50% {
//         transform: translateX(3px) rotate(45deg);
//     }

//     100% {
//         transform: translateX(0) rotate(45deg);
//     }
// }